.menu{
    display: flex;
    background-color: gray;
    width: 80%;
    align-items: center;
    margin: auto;
    justify-content: center;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
}
.item{
    margin: 10px;
    border-style: solid;
}

body{
    background-color: rgb(226, 155, 190);
}